mixin input(label, type, field, value, errors)
  label(for=field)= label
  if value
    input(type=type name=field value=value)
  else
    input(type=type name=field)
  br
  +input_error(errors, field)

mixin input_error(errors, field)
  if (errors)
    each error in errors
      if (error.path == field)
        li.error ERROR. #{error.message}
